 <div class="user-details">
  <h1> My Expertise </h1>
  <p align="justify"> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain"></i>
      <i class="devicon-cplusplus-line"></i>
      <p align="justify"><br>I started coding at the age of 13. Since then I have gained hands on experience in Python, C, C++, Ansible Automation, and want to add more to my bucket. I love doing projects in weekends.</p>
    </div>
    <div class="tech">
      <h2>Interests</h2>
      <img height=65px width=100px alt="Google Code In" src="{{ "/assets/img/gaming.png" | prepend: site.baseurl }}" />
      <p align="justify"><br>Apart from hacking, my other interest includes Gaming, Blogging and analysing Memes. Playing video games is a great way for me to de-stress from the demands of everyday life and do something just for the sake of enjoying.</p>
    </div>
    <div class="tech">
      <h2>Achievements</h2>
      <img height=105px width=110px alt="Google Code In" src="{{ "/assets/img/gci.jpg" | prepend: site.baseurl }}" />
      <p align="justify">I have been named as a Runner Up by Fedora Project for my contributions to open source software as part of Google Code-In 2019. You can see the list of completed tasks <a target="_blank" href="https://github.com/madhavmehndiratta/Google-Code-In-2019">here.</a></p>
    </div>
</div>
