<div class="user-details">
  <h1> My Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img width=85% height=85% alt="dork" src="{{ "/assets/img/dork.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Dork Scanner </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p align="justify">Dorking is a technique that is used by investigative organisations, security auditors as well as tech savvy criminals to query various search engines for information hidden on public websites and vulnerabilities exposed by public servers. I've made a dork scanner using python that searches Google or Bing in order to find possible vulnerable URLs.</p>
    <a class="project-link" href="https://github.com/madhavmehndiratta/dorkScanner">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img width=60% height=60% alt="chart" src="{{ "/assets/img/chart.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Color Detection using OpenCV </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p align="justify">OpenCV (Open Source Computer Vision Library) is an open source computer vision and machine learning software library. Computer vision is an interdisciplinary scientific field that deals with how computers can gain high-level understanding from digital images or videos. This tool detect the colors present in a given image.</p>
    <a class="project-link" href="https://github.com/madhavmehndiratta/openCV-color-detection">Check it out</a>
  </div>
</div>
