<div class="user-details">
  <h1> My Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img width=55% height=55% alt="dork" src="{{ "/assets/img/dork.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Dork Scanner </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Dorking is a technique used by investigative organisations, security auditors as well as tech savvy criminals to query various search engines for information hidden on public websites and vulnerabilities exposed by public servers. I made a typical search engine dork scanner that searches engines in order to find vulnerable URLs.</p>
    <a class="project-link" href="https://github.com/madhavmehndiratta/dork-scanner">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img width=60% height=60% alt="chart" src="{{ "/assets/img/chart.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Color Detection using OpenCV </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>OpenCV (Open Source Computer Vision Library) is an open source computer vision and machine learning software library. OpenCV was built to provide a common infrastructure for computer vision applications and to accelerate the use of machine perception in the commercial products. This tool detects all the images in a give image.</p>
    <a class="project-link" href="https://github.com/madhavmehndiratta/openCV-color-detection">Check it out</a>
  </div>
</div>
