<div class="user-details">
  <h1> My Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="gesture" src="{{ "/assets/img/gesture.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Gesture Cursor Control </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>A Computer Vison based algorithm which helps the user to control the basic input devices using hand gestures. You can easily control your Mouse and Keyboard with your hands. It basically works by using the webcam of the computer. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img width=80% height=80% alt="chatbot" src="{{ "/assets/img/friendly-chatbot.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> AI Chatbot </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>A self learning chatbot made in python. It uses the Natural Language Processing system to perform better and learn new things. This chatbot has been trained using my social media accounts so that it chats like me. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
